<header class="flex">
  <nav class="absolute flex w-full items-center justify-end gap-4 px-6 py-4 font-medium text-gray-800">
    <a href="{{ site.github }}" target="_blank" rel="noopener" class="hover:text-blue-600" aria-label="GitHub repository">
      {% include "components/github-logo.njk" %}
    </a>
  </nav>
</header>
