.heroBanner {
  padding: 2.5rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.features {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
}

@media screen and (max-width: 966px) {
  .features {
    font-size: 1rem;
  }
}

.title {
  font-weight: bolder;
}

.featureImage {
  height: 200px;
  width: 200px;
  margin: 0 auto;
}

.getStarted {
  color: #ffffff;
  background-color: var(--ifm-color-secondary);
  box-shadow: var(--ifm-color-primary) 4px 4px 0px 0px;
}

.getStarted:hover {
  box-shadow: 2px 2px var(--ifm-color-primary);
}

.gettingStartedSection {
  background-color: #f7f7f7;
}

html[data-theme='dark'] .gettingStartedSection {
  background-color: #33363b;
}

html[data-theme='dark'] .getStarted:hover {
  color: #ffffff;
}
